.App {
  text-align: center;
  font-family: 'Chum';
}

body{
  background-color: #eea687;
}

h1{
  font-size: 64px;
  color: #284532;
  margin: 0;
}

.namecard{
  display: inline-block;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  margin: 40px auto;
}

@font-face {
  font-family: Chum;
  src: url('./Krabby_Patty.ttf');
}
