.App {
  text-align: center;
  font-family: 'Chum';
}

body{
  background-color: #eea687;
}

h1{
  color: #284532;
}

.namecard{
  background-color: white;
  padding: 10px;
  width: 300px;
  border: 2px solid black;
  margin: 40px auto;
}

@font-face {
  font-family: Chum;
  src: url('./Krabby_Patty.ttf');
}
